.intro {
    margin-bottom: 0px;
    background-image: url(images/1.jpg);
  /*  background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;*/
}

 .thumbnail {
    text-align: center;
    font-family: 'Cinzel', sans-serif;
}

.jumbotron{
	font-family: 'Hind', sans-serif;
}

.navbar{
	font-family: 'Armata', sans-serif;
	color: #000000;
}

.reqs{
font-family: 'Bitter', serif;
}

.btn{
background-color: #6E2323;
border-color: #6E2323;
margin-left: 45%

}

$(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});

body {
    background-color: #b0c4de;
}

.b1{
	background-color: #DDEDD3;
}

.b2{
	background-color: #EDD3D3;
}

.b3{
	background-color: #EDD3ED;
}

.b4{
	background-color: #D3D7ED;
}
.b5{
	background-color: #EDE4D3;
}

.b6{
	background-color: #D3EDE7;
}

.b7{
	background-color: #D7D3ED;
}